*{
    overflow-x: hidden;
}

.section1{ 
    text-align: center;
    font-size-adjust:auto;
    color:white;
    background: url('../img/bg.jpg');
    background-size: cover;
    height:680px;
    padding: 2rem;
}
.text{
    font-size: 100px;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
    color: brown;
}
.firstparagraph{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: normal;
}
.section2{
    font-size:20px;
    font-family: sans-serif;
    color:white;
    font-weight: bold;
    text-align: center;
}
.yummy{
    text-align: center;
    background: url('../img/intro.jpg');
    background-size: cover;
    height:680px;
    padding:2rem;
}
.pizza{
    font-size:250px;
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    color:green;
}
/* styling the input section    */
.contact{
    background-image: url("../img/logo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.contact h2{
   text-align: center;
   margin-top: 30px;
   padding-top: 40px;
   padding-bottom: 20px;
   font-family: 'Roboto',sans-serif;
}
input[type=text],input[type=email],#comment{
   background: transparent;
   color: white;
   font-size: 20px;
   font-family: 'Copse',serif;
}
.form-control::-webkit-input-placeholder{
   color:black;
   font-weight: bold;
}
#MERGE1{
   width: 30%;
   margin-left: 18%;
   margin-right: 30px;
}
#MERGE0{
   width: 30%;

}
button{
   align-items: center;
   padding-bottom: 30px;
   margin-bottom: 20px;
}

body{
    background-color: black;
}
.order{
    font-size: 20px;
    font-family: fantasy;
    font-weight: bold;
    color: pink;
}